<!DOCTYPE html>
<html>
  <head>
    <title>猥琐是一种态度</title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/website.css' />
    <script type="text/javascript" src="/javascripts/personalFrame.js"></script>
    <script type="text/javascript" src="/javascripts/website.js"></script>
    <script type="text/javascript">
                                            window.onload = function(){
                                               WebSite.init();
                                             };
    </script>
  </head>
  <body class="topBgAfter">
    <% include loginafterheader.ejs %>
    <div class="homeMain">
              <div class="wrap900">
                 <div class="homeHeader">
                       <a href="grlj" title="xxoo" class="face">
                        <img alt="xxoo" src="<%=userimage %>" width="120" height="120" />
                       </a>
                       <div class="userInfo">
                          <div class="nameAndOpt">
                             <a class="userName" href="/grlj"><%=nick%></a>
                             <a href="javascript:;" class="spaceBtn fr">
                              收听
                             </a>
                          </div>
                          <div class="userMessage"><%= message %></div>
                          <div class="userBasicInfo">
                            <span><%if(sex == '0') {%>男<% }else{%>女<%}%></span>
                            <span>故乡<%if(home == '0') {%>保密<% }else{%><%=home%><%}%></span>
                            <span><%if(issingle == '0') {%>单身<% }else{%><%=issingle%><%}%></span>
                            <span>现居<%if(live == '0') {%>保密<% }else{%><%=live%><%}%></span>
                            <span><%if(constellation == '0') {%>狮子座<% }else{%><%=constellation%><%}%></span>
                          </div>
                       </div>

                       <div class="maxNav">

                       </div>

                 </div>
                 <div class="homeNav clearfix">
                    <div class="main fl">
                          <ul class="allList">
                            <li>
                              <div class="imgAllow"></div>
                              <div class="imgIcon fl"></div>
                              <div class="contentItem">
                                    <h3><a href="/xxoo" class="nickName" target="_blank">xxoo</a></h3>
                                    <p class="contentText">
                                     花擦，花擦
                                    </p>
                                    <div class="op clearfix">
                                      <div class="opLeft fl">
                                        2013-08-04 来自扯时间
                                      </div>
                                      <div class="opRight fr">
                                             <a href="javascript:;" class="commentBtn" id="commentBtn" title="评论">评论(2)</a>
                                             <a href="javascript:;" class="linkBtn" title="喜欢">0</a>
                                      </div>
                                    </div>
                                      <div class="comment">
                                           <div class="shareCommentBottom clearfix">
                                                <textarea class="fl"></textarea>
                                                 <a class="btn greenBtn mt-15 fr" href="javascript:;">发布</a>
                                           </div>
                                           <div class="commentLoading">
                                                    评论努力加载中，请稍后...
                                           </div>
                                           <div class="h15"></div>
                                       </div>
                              </div>

                            </li>
                            <li>
                                                          <div class="imgAllow"></div>
                                                          <div class="imgIcon fl"></div>
                                                          <div class="contentItem">
                                                                <h3><a href="/xxoo" class="nickName" target="_blank">xxoo</a></h3>
                                                                <p class="contentText">
                                                                 花擦，花擦
                                                                </p>
                                                                <div class="op clearfix">
                                                                  <div class="opLeft fl">
                                                                    2013-08-04 来自扯时间
                                                                  </div>
                                                                  <div class="opRight fr">
                                                                         <a href="javascript:;" class="commentBtn" id="commentBtn" title="评论">评论(2)</a>
                                                                         <a href="javascript:;" class="linkBtn" title="喜欢">0</a>
                                                                  </div>
                                                                </div>
                                                          </div>
                                                        </li>
                                                        <li>
                                                                                      <div class="imgAllow"></div>
                                                                                      <div class="imgIcon fl"></div>
                                                                                      <div class="contentItem">
                                                                                            <h3><a href="/xxoo" class="nickName" target="_blank">xxoo</a></h3>
                                                                                            <p class="contentText">
                                                                                             花擦，花擦
                                                                                            </p>
                                                                                            <div class="op clearfix">
                                                                                              <div class="opLeft fl">
                                                                                                2013-08-04 来自扯时间
                                                                                              </div>
                                                                                              <div class="opRight fr">
                                                                                                     <a href="javascript:;" class="commentBtn" id="commentBtn" title="评论">评论(2)</a>
                                                                                                     <a href="javascript:;" class="linkBtn" title="喜欢">0</a>
                                                                                              </div>
                                                                                            </div>
                                                                                      </div>
                                                                                    </li>
                          </ul>
                    </div>

                    <div class="sidebar fr">
                             <div class="userMember clearfix">
                                 <h3>
                                  听众<span class="count">(<a href="/person/usermembers"  target="_blank">20</a>)</span>
                                 </h3>
                                 <ul class="userMemberList">
                                          <li>
                                            <a href="xxoo" class="face" target="_blank" title="xxoo"><img src="/images/userimage/179.jpg" width="38" height="38" /></a>
                                          </li>
                                 </ul>
                             </div>
                             <div class="userMember clearfix">
                                                              <h3>
                                                               收听<span class="count">(<a href="/person/usermembers"  target="_blank">20</a>)</span>
                                                              </h3>
                                                              <ul class="userMemberList">
                                                                       <li>
                                                                         <a href="xxoo" class="face" target="_blank" title="xxoo"><img src="/images/userimage/179.jpg" width="38" height="38" /></a>
                                                                       </li>
                                                              </ul>
                                                          </div>
                    </div>

                 </div>
              </div>
    </div>
  </body>
</html>